*{
  margin: 0;
  padding: 0;
}

body{

  background: rgb(66,66,66);
  background: radial-gradient(circle, rgba(66,66,66,1) 0%, rgba(0,0,0,1) 84%);
}

                      /* these code are in sub header components */
/* code in subheader */

.subheader{
  display: flex;
  background-color:none;
  width: 100%;
  height: 3rem;
  padding: 5px 0px;
}

/* image code in sub header */
img{
  height: 50px ;
  width: 60px;
  justify-content: center;
  filter: drop-shadow( 1px -1px 10px black);
}

/* ul code in subheader*/
ul{
  display: inline-flex;
  margin-left: 2rem;
  text-transform: capitalize;
  font-size: 15px; 
  height: 4rem;
}

/* li code in subheader */
li{
  list-style-type: none;
  color:white;
  margin-right: 2rem;
  padding:13px;
  margin-top: 4px;
}
/* link decoration */
a{
  text-decoration: none;
  font-family: 'REM', sans-serif;
}
/* code for login and register in subheader */
.login-and-register{
  margin-left: auto;
  margin-right: 2rem;
}

/* li hover code in subheader */
li:hover{
  border-bottom: 1px solid white;
  color: white;
}

/* code for main content */
.main img{
  width: 100%;
  height:100%;
  position:absolute;
  filter: blur(6px);
}

.main button{

   position: relative;
   color: red;
   margin-top: 50vh;
   padding: 10px ;
   background-color: transparent;
   color: white;
   font-size:xx-large;
   border: none;
 }

 .back-button:hover{
    filter: drop-shadow(1px 1px 10px white);
 }
 .front-button:hover{
    filter: drop-shadow(1px 1px 10px white);
 }

.back-button{
  margin-left: 1rem;
}
.front-button{
  margin-left: 90%;
}

/* main h2 { code in main coponenets } */
@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:wght@500&family=Dangrek&family=REM:wght@600&display=swap');

.main h2{
    position: absolute;
    color: white;
    font-family: 'REM', sans-serif;
    font-size: 4rem;
    text-transform:capitalize;
    width: 20%;
    margin-top: -10rem;
    margin-left: 8rem;


}
@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:wght@500&family=Dangrek&family=REM:wght@200&display=swap');

.main h3{
   position: absolute;
   color: white;
   font-size: 1rem;
   text-transform:capitalize ;
   font-family: 'REM', sans-serif;
   margin-left: 8.5rem;
   background-color: transparent;
   padding: 6px;
   backdrop-filter: blur(100px);
   letter-spacing: 1px;
 }

.contact{
  height: 125vh;
  padding: 40px; 
}

.contact h1{
    margin-top: 40vh ;
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-family: 'REM', sans-serif;
    letter-spacing: 1px ;
    word-spacing: 1px;    
}

/* code for h2 */

.h2 {
  display: inline-flex;
  color: white;
  margin-top: 5.5rem;
  width: 100%;
  font-family: 'REM', sans-serif;
  height: 4rem;
  border-bottom: 1px solid white;
}

.h2 h2{
  margin-left: 10.5rem;
}

/* code for p tag */

.p {
  color: white;
  font-size: large;
  font-family: monospace;
  text-align: center;
  display: inline-flex;
  word-spacing: 10px;
  margin-top: 4rem;
  margin-left: 9rem;
  width: max-content;
}

.p p{
  margin-bottom: 10px;
  margin-right: 8.5rem;
}

/* code for images */
.img{
  margin-left: 18rem;
}

.img img {
  height: 70px;
  width: 70px;
  margin-right: 6rem;
  margin-top: 4rem;
}

/* code for  input [ js code in main constent ]*/

input {
    margin-top: 13rem;
    padding: 10px;
    width: 120%;
    margin-left: 0.7rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 18px;
    color: white;
}

input:hover{
    backdrop-filter: blur(10px);
}

input:active{
  background-color: #333;
}


.inputs button{
    position:absolute;
    margin-top:-2.7rem;
    margin-left:23rem;
    width: 10rem;
    background-color: transparent;
    border: none;
    border: 1px solid white;
    font-size: 18px;
    color: white;
       
}

.inputs button:hover{
   backdrop-filter: blur(20px);
}
.inputs button:active {
  background-color: #333;
  color: white;
}